<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <script defer type="text/javascript" src="index.js"></script>
    <title>Adam Weaver Project 3</title>
  </head>

  <body>
          
        
        <div class="wrapper">  
          <!--NAVBAR START-->
            <div class="navbar">
                <span class="logo">
                    <img src="assets\logo.png">
                </span>
                <span class="navlinks">
                    <a href="/menu">MENU</a> <a href="/cart">CART</a> <a href="/checkout">CHECKOUT</a> <a href="/admin">ADMIN INFO</a>
                </span>
                <span class="navright">
                    <img src="assets\chef.png" >   
                </span>
            </div>
          <!--NAVBAR END-->
        <div class="content">    
          <div id="preventOverflow">
            <div id="menu">
              <div class="mealcard">
                <span class="cardimg">
                  <img src="./assets/squirtle.jpg">
                </span>
              </div>
             <!--USE REACT TO LOAD MENU CARD ITEMS-->
            </div>
          </div>
          <div class="divider-big"></div>
        </div>
        </div>

        

  </body>
</html>